<div class="card-three">
  <div class="corner top"><span class="number">3</span><span>{{view.symbol}}</span></div><span class="suit top_center">{{view.symbol}}</span><span class="suit middle_center">{{view.symbol}}</span><span class="suit bottom_center">{{view.symbol}}</span>
  <div class="corner bottom"><span class="number">3</span><span>{{view.symbol}}</span></div>
</div>
