<div class="card-six">
  <div class="corner top"><span class="number">6</span><span>{{{view.symbol}}}</span></div><span class="suit top_left">{{{view.symbol}}}</span><span class="suit top_right">{{{view.symbol}}}</span><span class="suit middle_left">{{{view.symbol}}}</span><span class="suit middle_right">{{{view.symbol}}}</span><span class="suit bottom_left">{{{view.symbol}}}</span><span class="suit bottom_right">{{{view.symbol}}}</span>
  <div class="corner bottom"><span class="number">6</span><span>{{{view.symbol}}}</span></div>
</div>
