<ul>
  {{#each "controllers.board.bids"}}
    <li>{{.}}</li>
  {{/each}}
</ul>

{{#with "controllers.bidding_box"}}
  <p>
    {{view Bridge.ContractLevelView level="1"}}
    {{view Bridge.ContractLevelView level="2"}}
    {{view Bridge.ContractLevelView level="3"}}
    {{view Bridge.ContractLevelView level="4"}}
    {{view Bridge.ContractLevelView level="5"}}
    {{view Bridge.ContractLevelView level="6"}}
    {{view Bridge.ContractLevelView level="7"}}
  </p>
  <p>
    {{view Bridge.ContractSuitView suit="C"}}
    {{view Bridge.ContractSuitView suit="D"}}
    {{view Bridge.ContractSuitView suit="H"}}
    {{view Bridge.ContractSuitView suit="S"}}
    {{view Bridge.ContractSuitView suit="NT"}}
  </p>
  <p>
    {{view Bridge.DoubleView}}
    {{view Bridge.RedoubleView}}
    {{view Bridge.PassView}}
  </p>
{{/with}}

<ul>
  {{#each "controllers.board.cards"}}
    <li>{{.}}</li>
  {{/each}}
</ul>

<p>
N
{{#each card in "controllers.board.n"}}
  {{#with "controllers.card"}}
    {{view Bridge.CardView contentBinding=card ownerDirection="N"}}
  {{/with}}
{{/each}}
</p>

<p>
E
{{#each card in "controllers.board.e"}}
  {{#with "controllers.card"}}
    {{view Bridge.CardView contentBinding=card ownerDirection="E"}}
  {{/with}}
{{/each}}
</p>

<p>
S
{{#each card in "controllers.board.s"}}
  {{#with "controllers.card"}}
    {{view Bridge.CardView contentBinding=card ownerDirection="S"}}
  {{/with}}
{{/each}}
</p>

<p>
W
{{#each card in "controllers.board.w"}}
  {{#with "controllers.card"}}
    {{view Bridge.CardView contentBinding=card ownerDirection="W"}}
  {{/with}}
{{/each}}
</p>
