{{#with controllers.auction}}
  <p>
    {{#if contract}}
      <strong>current contract:</strong> {{contract.bid}}
      {{#if modifier}}
        {{modifier.bid}}
      {{/if}}
      {{declarer}}
    {{/if}}
  </p>

  <p>
    <strong>current direction:</strong> {{currentDirection}}
  </p>

  <ul>
    {{#each bid in .}}
      <li>
        {{bid.bid}} ({{bid.direction}})
      </li>
    {{/each}}
  </ul>
{{/with}}

{{#with "controllers.bidding_box"}}
  <button {{action "bidPass" target="."}} {{bindAttr disabled="isPassDisabled"}}>PASS</button>
  <button {{action "bidDouble" target="."}} {{bindAttr disabled="isDoubleDisabled"}}>X</button>
  <button {{action "bidRedouble" target="."}} {{bindAttr disabled="isRedoubleDisabled"}}>XX</button>
  <button {{action "bid1" target="."}} {{bindAttr disabled="is1Disabled"}}>1</button>
  <button {{action "bid2" target="."}} {{bindAttr disabled="is2Disabled"}}>2</button>
  <button {{action "bid3" target="."}} {{bindAttr disabled="is3Disabled"}}>3</button>
  <button {{action "bid4" target="."}} {{bindAttr disabled="is4Disabled"}}>4</button>
  <button {{action "bid5" target="."}} {{bindAttr disabled="is5Disabled"}}>5</button>
  <button {{action "bid6" target="."}} {{bindAttr disabled="is6Disabled"}}>6</button>
  <button {{action "bid7" target="."}} {{bindAttr disabled="is7Disabled"}}>7</button>
  <button {{action "bidC" target="."}} {{bindAttr disabled="isCDisabled"}}>C</button>
  <button {{action "bidD" target="."}} {{bindAttr disabled="isDDisabled"}}>D</button>
  <button {{action "bidH" target="."}} {{bindAttr disabled="isHDisabled"}}>H</button>
  <button {{action "bidS" target="."}} {{bindAttr disabled="isSDisabled"}}>S</button>
  <button {{action "bidNT" target="."}} {{bindAttr disabled="isNTDisabled"}}>NT</button>
{{/with}}
