<div class="row">
  <div class="span4">
    <p>Dealer: {{controllers.board.dealer}}</p>
    <p>Vulnerable: {{controllers.board.vulnerable}}</p>
    <p>Contract: {{controllers.board.contract}}</p>
    <p>NS: {{controllers.board.nsWonTricksNumber}}</p>
    <p>EW: {{controllers.board.ewWonTricksNumber}}</p>
    <p>Result: {{controllers.board.scoreString}}</p>
  </div>

  <div class="span4 hand">
    {{view Bridge.DirectionView content="N" contextBinding=controllers.board}}
    {{view Bridge.ClaimView direction="N" contextBinding=controllers.claim}}
    {{view Bridge.ClaimAcceptView direction="N" contextBinding=controllers.claim}}
    {{view Bridge.ClaimRejectView direction="N" contextBinding=controllers.claim}}

    <div class="cards">
      {{#each card in controllers.hand_n}}
        {{view Bridge.HandCardView contentBinding=card ownerDirection="N" contextBinding=controllers.hand_n}}
      {{/each}}
    </div>
  </div>

  <div class="span4">
    <ul>
      {{#each controllers.bidding_box.auction}}
        <li>{{.}}</li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="row">
  <div class="span4 hand">
    {{view Bridge.DirectionView content="W" contextBinding=controllers.board}}
    {{view Bridge.ClaimView direction="W" contextBinding=controllers.claim}}
    {{view Bridge.ClaimAcceptView direction="W" contextBinding=controllers.claim}}
    {{view Bridge.ClaimRejectView direction="W" contextBinding=controllers.claim}}

    <div class="cards">
      {{#each card in controllers.hand_w}}
        {{view Bridge.HandCardView contentBinding=card ownerDirection="W" contextBinding=controllers.hand_w}}
      {{/each}}
    </div>
  </div>

  <div class="span4">
    <div class="cards">
      {{#each card in controllers.trick}}
        {{view Bridge.CardView contentBinding=card}}
      {{/each}}
    </div>
  </div>

  <div class="span4 hand">
    {{view Bridge.DirectionView content="E" contextBinding=controllers.board}}
    {{view Bridge.ClaimView direction="E" contextBinding=controllers.claim}}
    {{view Bridge.ClaimAcceptView direction="E" contextBinding=controllers.claim}}
    {{view Bridge.ClaimRejectView direction="E" contextBinding=controllers.claim}}

    <div class="cards">
      {{#each card in controllers.hand_e}}
        {{view Bridge.HandCardView contentBinding=card ownerDirection="E" contextBinding=controllers.hand_e}}
      {{/each}}
    </div>
  </div>
</div>

<div class="row">
  <div class="span4">
    <ul>
      {{#each controllers.board.tricks}}
        <li>{{.}}</li>
      {{/each}}
    </ul>
  </div>

  <div class="span4 hand">
    {{view Bridge.DirectionView content="S" contextBinding=controllers.board}}
    {{view Bridge.ClaimView direction="S" contextBinding=controllers.claim}}
    {{view Bridge.ClaimAcceptView direction="S" contextBinding=controllers.claim}}
    {{view Bridge.ClaimRejectView direction="S" contextBinding=controllers.claim}}
    <div class="cards">
      {{#each card in controllers.hand_s}}
        {{view Bridge.HandCardView contentBinding=card ownerDirection="S" contextBinding=controllers.hand_s}}
      {{/each}}
    </div>
  </div>

  <div class="span4">
    {{#with controllers.bidding_box}}
      <p>
        {{view Bridge.ContractLevelView level="1"}}
        {{view Bridge.ContractLevelView level="2"}}
        {{view Bridge.ContractLevelView level="3"}}
        {{view Bridge.ContractLevelView level="4"}}
        {{view Bridge.ContractLevelView level="5"}}
        {{view Bridge.ContractLevelView level="6"}}
        {{view Bridge.ContractLevelView level="7"}}
      </p>
      <p>
        {{view Bridge.ContractSuitView suit="C"}}
        {{view Bridge.ContractSuitView suit="D"}}
        {{view Bridge.ContractSuitView suit="H"}}
        {{view Bridge.ContractSuitView suit="S"}}
        {{view Bridge.ContractSuitView suit="NT"}}
      </p>
      <p>
        {{view Bridge.DoubleView}}
        {{view Bridge.RedoubleView}}
        {{view Bridge.PassView}}
      </p>
    {{/with}}
  </div>
</div>
