<ul>
  {{#each controller}}
    <li>
      {{#linkTo "table" .}}
      {{name}}
      N: {{user_n.email}}
      E: {{user_e.email}}
      S: {{user_s.email}}
      W: {{user_w.email}}
      {{/linkTo}}
    </li>
  {{/each}}
</ul>

<button class="btn" {{action createTable}}>Create a new table</button>
