<p>
  <strong>game phase:</strong> {{controllers.board.phase}}
</p>
<p>
  <strong>current direction:</strong> {{controllers.board.direction.direction}}
</p>

{{#with controllers.auction}}
  <ul>
    {{#each .}}
      <li>
        {{bid}} ({{direction.direction}})
      </li>
    {{/each}}
  </ul>
{{/with}}

{{#with controllers.bidding_box}}
  <div {{bindAttr class="auction.isCompleted:hidden"}}>
    <p>
      {{#each levels}}
        <button {{bindAttr disabled="isDisabled"}} {{action "bidLevel" level target="controller.controllers.bidding_box"}}>{{level}}</button>
      {{/each}}
    </p>
    <p>
      {{#each trumps}}
        <button {{bindAttr disabled="isDisabled"}} {{action "bid" . target="controller.controllers.bidding_box"}}>{{trump}}</button>
      {{/each}}
    </p>
    <p>
      <button {{bindAttr disabled="pass.isDisabled"}} {{action "bid" pass target="controller.controllers.bidding_box"}}>PASS</button>
      <button {{bindAttr disabled="double.isDisabled"}} {{action "bid" double target="controller.controllers.bidding_box"}}>X</button>
      <button {{bindAttr disabled="redouble.isDisabled"}} {{action "bid" redouble target="controller.controllers.bidding_box"}}>XX</button>
    </p>
  </div>
{{/with}}

<div>
  <p>
    N
    {{#each controllers.hand_n}}
      <button {{bindAttr disabled="isDisabled"}} {{action "play" . target="controller.controllers.hand_n"}}>
        {{card}}
      </button>
    {{/each}}
  </p>


  <p>
    E
    {{#each controllers.hand_e}}
      <button {{bindAttr disabled="isDisabled"}} {{action "play" . target="controller.controllers.hand_e"}}>
        {{card}}
      </button>
    {{/each}}
  </p>

  <p>
    S
    {{#each controllers.hand_s}}
      <button {{bindAttr disabled="isDisabled"}} {{action "play" . target="controller.controllers.hand_s"}}>
        {{card}}
      </button>
    {{/each}}
  </p>

  <p>
    W
    {{#each controllers.hand_w}}
      <button {{bindAttr disabled="isDisabled"}} {{action "play" . target="controller.controllers.hand_w"}}>
        {{card}}
      </button>
    {{/each}}
  </p>
</div>
