<div class="row">
  <div class="span4">
    <p>Dealer: {{controllers.summary.dealer}}</p>
    <p>Vulnerable: {{controllers.summary.vulnerable}}</p>
    <p>Contract: {{controllers.summary.contract}}</p>
    <p>NS: {{controllers.summary.nsWonTricksNumber}}</p>
    <p>EW: {{controllers.summary.ewWonTricksNumber}}</p>
    <p>Result: {{controllers.summary.resultString}}</p>
  </div>

  <div class="span4 hand">
    {{view Bridge.DirectionView direction="N"}}
    {{view Bridge.JoinView direction="N"}}
    {{view Bridge.QuitView direction="N"}}
    <div class="cards">
      {{#each card in controllers.hand_n}}
        {{view Bridge.HandCardView cardBinding=card ownerDirection="N" contextBinding=controllers.hand_n}}
      {{/each}}
    </div>
  </div>

  <div class="span4">
    <ul>
      <table class="auction table table-bordered">
        <tr>
          {{#with controllers.summary}}
            <th {{bindAttr class="isNSvulnerable:vulnerable:not-vulnerable"}}>N</th>
            <th {{bindAttr class="isEWvulnerable:vulnerable:not-vulnerable"}}>E</th>
            <th {{bindAttr class="isNSvulnerable:vulnerable:not-vulnerable"}}>S</th>
            <th {{bindAttr class="isEWvulnerable:vulnerable:not-vulnerable"}}>W</th>
          {{/with}}
        </tr>
        {{#each row in controllers.auction}}
          <tr>
            {{view Bridge.BidView bidBinding=row.n}}
            {{view Bridge.BidView bidBinding=row.e}}
            {{view Bridge.BidView bidBinding=row.s}}
            {{view Bridge.BidView bidBinding=row.w}}
          </tr>
        {{/each}}
      </table>
    </ul>
  </div>
</div>

<div class="row">
  <div class="span4 hand">
    {{view Bridge.DirectionView direction="W"}}
    {{view Bridge.JoinView direction="W"}}
    {{view Bridge.QuitView direction="W"}}
    <div class="cards">
      {{#each card in controllers.hand_w}}
        {{view Bridge.HandCardView cardBinding=card ownerDirection="W" contextBinding=controllers.hand_w}}
      {{/each}}
    </div>
  </div>

  <div class="span4 cards trick">
    {{#with controllers.trick}}
      {{view Bridge.TrickCardView cardBinding=n classNames="top"}}
      {{view Bridge.TrickCardView cardBinding=e classNames="right"}}
      {{view Bridge.TrickCardView cardBinding=s classNames="bottom"}}
      {{view Bridge.TrickCardView cardBinding=w classNames="left"}}
    {{/with}}
  </div>

  <div class="span4 hand">
    {{view Bridge.DirectionView direction="E"}}
    {{view Bridge.JoinView direction="E"}}
    {{view Bridge.QuitView direction="E"}}
    <div class="cards">
      {{#each card in controllers.hand_e}}
        {{view Bridge.HandCardView cardBinding=card ownerDirection="E" contextBinding=controllers.hand_e}}
      {{/each}}
    </div>
  </div>
</div>

<div class="row">
  <div class="span4">
  </div>

  <div class="span4 hand">
    {{view Bridge.DirectionView direction="S"}}
    {{view Bridge.JoinView direction="S"}}
    {{view Bridge.QuitView direction="S"}}
    <div class="cards">
      {{#each card in controllers.hand_s}}
        {{view Bridge.HandCardView cardBinding=card ownerDirection="S" contextBinding=controllers.hand_s}}
      {{/each}}
    </div>
  </div>

  <div class="span4">
    {{#with controllers.bidding_box}}
      <div {{bindAttr class=":bidding-box isEnabled::hide"}}>
        <p>
          {{view Bridge.ContractLevelView level="1"}}
          {{view Bridge.ContractLevelView level="2"}}
          {{view Bridge.ContractLevelView level="3"}}
          {{view Bridge.ContractLevelView level="4"}}
          {{view Bridge.ContractLevelView level="5"}}
          {{view Bridge.ContractLevelView level="6"}}
          {{view Bridge.ContractLevelView level="7"}}
        </p>
        <p>
          {{view Bridge.ContractSuitView suit="C"}}
          {{view Bridge.ContractSuitView suit="D"}}
          {{view Bridge.ContractSuitView suit="H"}}
          {{view Bridge.ContractSuitView suit="S"}}
          {{view Bridge.ContractSuitView suit="NT"}}
        </p>
        <p>
          {{view Bridge.DoubleView}}
          {{view Bridge.RedoubleView}}
          {{view Bridge.PassView}}
        </p>
        <p>
          {{view Bridge.AlertView}}
          {{input value=description}}
        </p>
      </div>
    {{/with}}

    {{#with controllers.claim}}
      <div {{bindAttr class="isEnabled::hide"}}>
        {{view Bridge.ClaimInfoView}}
        {{view Bridge.ClaimView direction="N"}}
        {{view Bridge.ClaimAcceptView direction="N"}}
        {{view Bridge.ClaimRejectView direction="N"}}
        {{view Bridge.ClaimView direction="E"}}
        {{view Bridge.ClaimAcceptView direction="E"}}
        {{view Bridge.ClaimRejectView direction="E"}}
        {{view Bridge.ClaimView direction="S"}}
        {{view Bridge.ClaimAcceptView direction="S"}}
        {{view Bridge.ClaimRejectView direction="S"}}
        {{view Bridge.ClaimView direction="W"}}
        {{view Bridge.ClaimAcceptView direction="W"}}
        {{view Bridge.ClaimRejectView direction="W"}}
      </div>
    {{/with}}
  </div>
</div>
