<!doctype html>
<html>
<head>
  <title>Bridge</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= tag(:meta, name: "user-id", content: current_user.try(:id)) %>
  <%= tag(:meta, name: "user-email", content: current_user.try(:email)) %>
  <%= tag(:meta, name: "socket-url", content: ENV["SOCKET_URL"]) %>
  <%= tag(:meta, name: "socket-id", content: current_user.try(:socket_id)) %>
</head>
<body>
<%= yield %>
</body>
</html>
